TOKEN=my-generated-token

# Configuration du jeu
TIMER_SECONDES=60 # Delimitation of a game round in seconds
MIN_CHARS=20 # Minimum number of characters in a message to be considered valid
MAX_CHARS=300 # Maximum number of characters in a message to be considered valid
MAX_REPONSES_PAR_JOUEUR=2 # Maximum number of attempts a player can make per game round

# Minimum role required for messages to be selected
ROLE_MINIMUM=my_minimum_role

# Channels to exclude (separated by commas)
NOMS_CHANNELS_EXCLUS=excl_chann1, excl_chann2

# Categories to exclude (separated by commas)
NOMS_CATEGORIES_EXCLUSES= excl_cat1, excl_cat2

# Channel dedicated for the game
CHANNEL_AUTO=chan_for_auto